/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background: linear-gradient(var(--gray-gradient)) no-repeat;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--gray-dark));
  font-size: 20px;
  line-height: 1.7;
}
main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: rgb(var(--black));
  line-height: 1.2;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent);
}
a:hover {
  color: var(--accent);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

@keyframes ani-gradient-mesh-bg {
  0% {
    --s-start-0: 9%;
    --s-end-0: 55%;
    --y-0: 80%;
    --c-0: hsla(266, 1%, 12%, 1);
    --x-0: 85%;
    --c-1: hsla(335, 2%, 22%, 1);
    --s-start-1: 5%;
    --s-end-1: 72%;
    --y-1: 24%;
    --x-1: 60%;
    --x-2: 13%;
    --c-2: hsla(53, 0%, 0%, 0.49);
    --s-start-2: 5%;
    --s-end-2: 52%;
    --y-2: 82%;
    --x-3: 24%;
    --y-3: 7%;
    --s-start-3: 13%;
    --s-end-3: 68%;
    --c-3: hsla(299, 4%, 36%, 1);
  }

  100% {
    --s-start-0: 9%;
    --s-end-0: 55%;
    --y-0: 94%;
    --c-0: hsla(266, 0%, 12%, 1);
    --x-0: 31%;
    --c-1: hsla(0, 4%, 19%, 1);
    --s-start-1: 5%;
    --s-end-1: 72%;
    --y-1: 25%;
    --x-1: 2%;
    --x-2: 98%;
    --c-2: hsla(54, 0%, 0%, 0.49);
    --s-start-2: 5%;
    --s-end-2: 52%;
    --y-2: 20%;
    --x-3: 95%;
    --y-3: 92%;
    --s-start-3: 13%;
    --s-end-3: 68%;
    --c-3: hsla(298, 3%, 41%, 1);
  }
}

@property --s-start-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 9%;
}

@property --s-end-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 55%;
}

@property --y-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 80%;
}

@property --c-0 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(266, 1%, 12%, 1);
}

@property --x-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 85%;
}

@property --c-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(335, 2%, 22%, 1);
}

@property --s-start-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 5%;
}

@property --s-end-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 72%;
}

@property --y-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 24%;
}

@property --x-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 60%;
}

@property --x-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 13%;
}

@property --c-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(53, 0%, 0%, 0.49);
}

@property --s-start-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 5%;
}

@property --s-end-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 52%;
}

@property --y-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 82%;
}

@property --x-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 24%;
}

@property --y-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 7%;
}

@property --s-start-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 13%;
}

@property --s-end-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 68%;
}

@property --c-3 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(299, 4%, 36%, 1);
}

#gradient-mesh-bg {
  --y-0: 80%;
  --c-0: hsla(266, 1%, 12%, 1);
  --x-0: 85%;
  --c-1: hsla(335, 2%, 22%, 1);
  --y-1: 24%;
  --x-1: 60%;
  --x-2: 13%;
  --c-2: hsla(53, 0%, 0%, 0.49);
  --y-2: 82%;
  --x-3: 24%;
  --y-3: 7%;
  --c-3: hsla(299, 4%, 36%, 1);
  background-color: hsla(0, 0%, 0%, 1);
  background-image: radial-gradient(
      circle at var(--x-0) var(--y-0),
      var(--c-0) var(--s-start-0),
      transparent var(--s-end-0)
    ),
    radial-gradient(
      circle at var(--x-1) var(--y-1),
      var(--c-1) var(--s-start-1),
      transparent var(--s-end-1)
    ),
    radial-gradient(
      circle at var(--x-2) var(--y-2),
      var(--c-2) var(--s-start-2),
      transparent var(--s-end-2)
    ),
    radial-gradient(
      circle at var(--x-3) var(--y-3),
      var(--c-3) var(--s-start-3),
      transparent var(--s-end-3)
    );
  animation: ani-gradient-mesh-bg 10s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal;
  will-change: transform, opacity;
  contain: paint;
}
